<div class="content" style="width: 100%; "  [ngStyle]="{'height': height + 'px' }">
  @if (appStore.givunGroupFilterData?.length===0) {
    <div class="loader" ></div>
  }
  @if (appStore.givunGroupFilterData?.length>0) {
    <table  dir="rtl"  style="width: 100%;"  [ngStyle]="{'height': 100 + '%' }"  >
      <tr >
        <td width="12%" height="100%"  >
          <div class="contentfilters">
            <app-filter2 ></app-filter2>
          </div>
        </td>
        <td width="87%" height="100%" >
          <div class="contentdata">
            <app-search ></app-search>
            <app-page2 ></app-page2>
          </div>
        </td>
      </tr>
    </table>
  }
</div>