.cubReport{
  background-color: #D0E2FF;
  width:100%;
  margin-top: 10px;
  color: #0C3058;
  font-size:0.83em;
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-right: 15%;
  // justify-content: center;
}



.colorCatgory{
  font-size:0.6em !important;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
}