.cubReport {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin-top: 10px;
  padding-right: 15%;
  background-color: #d0e2ff;
  color: #0c3058;
  font-size: 0.83em;
  display: flex;
  align-items: center;
}

.colorCatgory {
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  font-size: 0.6em;
}
.legend-container {
  font-size: 0.83em;
}

.legend-title {
  font-size: 1.25em;
}
