.tdDiv{
  background-color:white; 
  width: 100%;

}
.tdDiv-inside{
 float: left; 
 margin-top:2%; 
 vertical-align: bottom;
 height: 0.4em;
}
.shem{ 
    float: left !important;    
    text-align: left;
    margin-right: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
    max-width: 18%; 
    min-width: 18%;   
}
.achuz
{    
    text-align: left;
    padding-left: 1px;
    float: left !important;
}
.row-item div
{
   
    display: inline-block;
   

}


.row-item
{   
    width: 100%;   
    background-color: #FFFFFF;  
    color: #0C3058;  
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    margin-top: 10px;
    font-size: 0.45em;
   
   
}

.divTbl4 .row-item
{
  font-size: 0.73em !important;
}

.divTbl4 .tdDiv-inside{
   height: 0.7em !important;
   margin-top:1% 0% 1% 0% !important;
}


.divTbl4 li{
  height: 5% !important;
}

.cssCSV{
  display: inline-block; 
  padding-right: 10px;
  height: 95%;
  text-align: left;
}

.image{  
  width:  50%; 
  cursor: pointer; 
}