.tdDiv {
  background-color: #ffffff;
  width: 100%;
}

.tdDiv-inside {
  float: left;
  margin-top: 2%;
  vertical-align: bottom;
  height: 0.4em;
}

.shem {
  float: left;
  text-align: left;
  margin-right: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 18%;
  min-width: 18%;
}

.achuz {
  text-align: left;
  padding-left: 1px;
  float: left;
}

.row-item div {
  display: inline-block;
}

.row-item {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin-top: 10px;

  background-color: #ffffff;
  color: #0c3058;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.45em;
}

/* Variant inside divTbl4 */

.divTbl4 .row-item {
  font-size: 0.73em;
}

.divTbl4 .tdDiv-inside {
  height: 0.7em;
  margin: 1% 0;
}

.divTbl4 li {
  height: 5%;
}

.cssCSV {
  display: inline-block;
  padding-right: 10px;
  height: 95%;
  text-align: left;
}

.image {
  width: 50%;
  cursor: pointer;
}
