<div class="dilog">

  <div class="close-btn" (click)="closeDilog()">
    x
  </div>

  <div class="tdPerot">
    מחוון נתונים זה נמצא בשלבי הרצה.<br />
    נתקלתם/ן בתקלה או בנתונים שגויים? נשמח אם תדווחו לנו כדי<br />
    שנוכל לטפל בבעיות אלו. כמו כן, נשמח להערותיכם/ן לעניין יעילות<br />
    השימוש לכתובת הדוא״ל:
    <a
      tabindex="-1"
      href="mailto:shivion@economy.gov.il?subject=מדד הגיוון"
    >
      shivion&#64;economy.gov.il
    </a>
    <br />
  </div>

  <div class="tdPerot thanc">
    תודה על שיתוף הפעולה
  </div>

</div>
