.dilog {
  width: 550px;
  height: 50%;
  color: #000;
}

.tdPerot {
  width: 100%;
  height: 100%;

  direction: rtl;
  text-align: right;

  padding: 3% 15% 3% 10%;
  line-height: 25px;

  background-color: #ffffff;
  font-weight: 500;
}

.remark {
  font-size: 25px;
}

.thanc {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 3% 15%;
}

.tdPerot a {
  text-decoration: underline;
}
