.header-cont {
  width: 100%;
  top: 0;

  padding: 10%;

  background-color: #f2f7ff;
  color: #015f8b;
}

.span_title {
  font-size: 0.8em;
}

.container {
  height: 100%;
}

.homeIn {
  margin-top: 2%;
  border-radius: 5px;

  background-color: #ffffff;
}

.grafBar {
  float: left;
  height: 100%;

  background-color: yellow;
}

.barAllAcl {
  text-align: center;
}

.row-item {
  float: right;

  width: 25%;
  min-width: 12%;
  max-width: 25% !important;

  padding-right: 0;
}

.grafBarDiv {
  width: 25px;
  height: 80%;

  margin-top: 10%;

  display: inline-block;
  background-color: #ffffff;
}

.grafBarTxtTop {
  height: 58%;
  padding-right: 15px;

  text-align: right;
  vertical-align: top;
}

.grafBarTxt {
  display: inline-block;

  height: 80%;
  margin-top: 10%;

  font-size: 0.83em;
  vertical-align: top;
}

.image {
  width: 10px;
  height: 27px;
}

.perotMDD {
  float: left;
  cursor: pointer;
}

.headerTxt {
  font-weight: 400;
}

.title {
  direction: rtl;

  font-size: 1.4em;
  font-weight: 600;

  text-align: right;
}

.logo {
  float: right;
  object-fit: contain;
}

.ui-inputswitch {
  width: 5em;
  box-shadow: 10px 5px 10px 0 #bdc6e3;
}

.operate-me {
  width: 159px;
  height: 34px;

  font-size: 1em;
  font-weight: 600;
  line-height: 1.35;

  text-align: right;
  color: #ffffff;
}

.button-pages {
  padding-left: 30px;
  padding-top: 10px;
}

.header-image {
  height: 50px;
  margin: 7px 0 0 10px;
}

.divTop {
  width: 100%;
  height: 48%;

  padding-top: 2%;

  border-top: 2px solid;
}

.divPerutGander {
  width: 30%;
  height: 23%;

  display: inline-block;
  vertical-align: top;

  margin-top: 3%;

  font-size: 0.7em;
}

.imgTxt {
  font-size: 0.83em;
  vertical-align: bottom;
}
.bar-container {
  height: 95%;
}

.txt-right {
  text-align: right;
}

.header-bold {
  font-weight: 600;
}

.gender-section {
  height: 42%;
}

.gender-block {
  display: inline-block;
  margin-right: 15px;
}

.gender-img {
  height: 45%;
  text-align: center;
}

.chart-section {
  width: 100%;
  height: 23%;
}

.pie-chart {
  width: 50%;
  margin-right: 19%;
  height: 95%;
  display: inline-block;
}
