.content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .contentfilters{
     
    // height: 86vh;
    background-color: #deebff;
    width: 100%;
    display: inline-block;
     height: 100%;
   
    
  }
  .contentdata{
    width: 100%;
    // height: 86vh;
    height: 100%;
    background-color: #f2f7ff;
    display: inline-block;
  }