.mat-dialog-title,
.mat-dialog-content {
  direction: rtl;
  text-align: right;
}

/* =========================
   Table Layout
========================= */

.tblDilog {
  width: 90%;
  margin: 10px 5% 0;

  font-size: 0.8em;
  font-weight: 400;

  border-collapse: separate;
  border-spacing: 0;

  display: table;
}

.tblDilog td {
  padding-bottom: 2%;
}

.tblDilog td div {
  padding-left: 3%;
  padding-right: 20px;
}

/* =========================
   Dialog Container
========================= */

.dilog {
  color: #015f8b;
  height: 50%;
}

/* =========================
   Cells
========================= */

.tdKotar {
  width: 20%;
  height: 100%;

  background-color: #b7d0f8;
  padding-right: 10px;

  font-style: italic;
  font-weight: 500;

  display: table-cell;
}

.tdPerot {
  width: 80%;
  height: 100%;

  background-color: #dce8fb;
  padding-right: 10px;

  display: table-cell;
}

/* =========================
   Misc
========================= */

.trDialog {
  width: 100%;
}

.remark {
  font-size: 0.7em;
  font-weight: 400;

  display: inline-block;
  cursor: pointer;
  font-style: italic;

  margin-right: 4px;
}

.image {
  width: 13px;
}

.opanPDF {
  cursor: pointer;
  margin-left: 5%;
}
.close-btn {
  font-size: 18px;
  cursor: pointer;
}

.header-block {
  background-color: #ffffff;
  width: 80%;
  font-weight: 500;
}

.large-block {
  height: 40%;
}

.block-space {
  margin-top: 10px;
  display: inline-block;
}

.small-note {
  font-size: 0.76em;
}
