

<div class="dilog" [ngStyle]="{'width': width + 'px' }">
<div (click)="closeDilog()" style="font-size: 18px" class="remark"> x</div>
<div class="opanPDF">
      <div  (click)="opanPDF()" class="remark"> מתודולגיה
            <img class="image" src="./assets/Library/Icons/svg/pdf.svg"  /> </div>
        
       
</div>  
<div class="tblDilog" dir="rtl"> 
      <div class="tdPerot" style="background-color: #ffffff;  width: 80%;font-weight: 500;">
            שכירים ושכירות בגיל העבודה(18-64)
      </div>   
</div>
<div class="tblDilog" dir="rtl"> 
      <div class="tdKotar"><p>קבוצות<br> מדד</p>  </div> 
      <div class="tdPerot"><p>
            נשים, ערביות וערבים, יוצאות ויוצאי אתיופיה<br>
            חרדיות וחרדים, בנות ובני 45 ומעלה.
      </p></div>   
</div>
<div class="tblDilog" dir="rtl" style=" height: 40%;"> 
      <div class="tdKotar" ><p>מדדים</p>  </div> 
      <div class="tdPerot">
           <p> ציון היצוג: ייצוג הקבוצה בענך ביחס ליצוגה בכוח העבודה<br>
            0 = חוסר ייצוג, 1= ייצוג שיוויוני ,1 ומעלה = ייצוג יתר<br><br>
            <span style="margin-top: 10px">
            מספר מועסקים : מבוסס על טופס 126 הכולל  את כל<br>
            משרות השכיר במשק שיש עליהן דיווח של המעסיק למס הכנסה.
            </span>
            <br> <br>
            <span style="margin-top: 10px">
            ציון שיוויוניות השכר.<br>
            שיעור השכר של כל קבוצה מתוך שכר קבוצה ההשואה.<br>
            1 = שכר הקבוצה שווה לשכר קבוצת ההשואה
            </span>
            <br><br>
            <span style="margin-top: 10px">
             שכר חודשי ברוטו: תגמול בכסף או בעין , המשולם על ידי המעסיק <br>
             לשכיר בעבור עבודתו, ובכלל זה בעבור זמן שלא עבד, <br>
             כגון חופשה שנתית, היעדרויות וחופשות אחרות בתשלום.

            </span></p>
      </div>   
</div>
<div class="tblDilog" dir="rtl" style=" height: 40%;"> 
      <div class="tdKotar" >ענפי הכלכלה  </div> 
      <div class="tdPerot">
           <p> המגזר הפרטי: 20 ענפי כלכלה מרכזיים. שהם כמחצית משוק העבודה <br>
            הפרטי בישראל כמליון וחצי עובדים
            <br><br>
            המגזר הציבורי: הרשויות המקומיות והממשלה המרכזית,
            <br> המעסיקים כ-430 אלף עובדים
            <br><br>
            <span style="font-size:  0.76em;">לא כולל בתי חולים מלבד חולים גריאטריים ופסיכיאטרים<br>
            וכולל גם את משרד החינוך - מנהלה ומורים</span>
            </p>
      </div>   
</div>
</div>