.tags {
  font-size: 0.85em;
}

.tagSpan {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;

  display: inline-block;
  color: #0c3058;
}

.tags a {
  min-width: 142px;

  height: 25px;
  line-height: 25px;
  padding: 0 10px;

  display: inline-block;
  border-radius: 30px;

  background-color: #bad1f8;
  color: #0c3058;

  cursor: pointer;
}

.perotMDD {
  display: inline-block;

  font-size: 0.99em;
  font-weight: 400;
  font-style: italic;

  color: #015f8b;
  cursor: pointer;
}

.imageMDD {
  position: absolute;

  width: 1%;
  height: 2%;
}
.tag-link {
  cursor: pointer;
}

.tag-close {
  float: left;
  margin-right: 5px;
}

.agdarot-container {
  display: inline-block;
  width: 9%;
  float: left;
  margin-left: 1%;
  cursor: pointer;
}

.agdarot-text {
  margin-right: 20px;
}
