.cubReport {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  background-color: #ffffff;
  color: #0c3058;
  direction: ltr;
  font-size: 0.83em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cssCSV {
  display: inline-block;
  height: 95%;
  padding-right: 10px;
  text-align: right;
}

.image {
  width: 50%;
  cursor: pointer;
}

.colorCatgory {
  display: inline-block;
  min-width: 30%;
  max-width: 30%;
  margin: 5px 0 0 5px;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
}
