<div class="cubReport">

  @if (
    stateData(1).length > 0 ||
    stateData(2).length > 0 ||
    stateData(3).length > 0 ||
    stateData(4).length > 0 ||
    stateData(5).length > 0
    ) {
    <div
      class="cssCSV"
      title="אקסל"
      (click)="exportAsCSV()"
      >
      <img
        class="image"
        src="./assets/Library/Icons/svg/excel.svg"
        alt="Export to Excel"
        />
      </div>
    }

    <div style="width: 80%;">

      <!-- 1 -->
      @if (stateData(1); as s1) {
        <div
          class="colorCatgory"
        [ngStyle]="{
          border: '0.5px solid ' + colorCatgory(1),
          color: colorCatgory(1)
        }"
          >
          @if (s1.length > 0) {
            <span>
              {{ s1[0]?.value | number:'1.0-0' }}
            </span>
          }
          @if (s1.length < 1) {
            <span>-</span>
          }
        </div>
      }

      <!-- 2 -->
      @if (stateData(2); as s2) {
        <div
          class="colorCatgory"
        [ngStyle]="{
          border: '0.5px solid ' + colorCatgory(2),
          color: colorCatgory(2)
        }"
          >
          @if (s2.length > 0) {
            <span>
              {{ s2[0]?.value | number:'1.0-0' }}
            </span>
          }
          @if (s2.length < 1) {
            <span>-</span>
          }
        </div>
      }

      <!-- 3 -->
      @if (stateData(3); as s3) {
        <div
          class="colorCatgory"
        [ngStyle]="{
          border: '0.5px solid ' + colorCatgory(3),
          color: colorCatgory(3)
        }"
          >
          @if (s3.length > 0) {
            <span>
              {{ s3[0]?.value | number:'1.0-0' }}
            </span>
          }
          @if (s3.length < 1) {
            <span>-</span>
          }
        </div>
      }

      <br />

      <!-- 4 -->
      @if (stateData(4); as s4) {
        <div
          class="colorCatgory"
        [ngStyle]="{
          border: '0.5px solid ' + colorCatgory(4),
          color: colorCatgory(4)
        }"
          >
          @if (s4.length > 0) {
            <span>
              {{ s4[0]?.value | number:'1.0-0' }}
            </span>
          }
          @if (s4.length < 1) {
            <span>-</span>
          }
        </div>
      }

      <!-- 5 -->
      @if (stateData(5); as s5) {
        <div
          class="colorCatgory"
        [ngStyle]="{
          border: '0.5px solid ' + colorCatgory(5),
          color: colorCatgory(5)
        }"
          >
          @if (s5.length > 0) {
            <span>
              {{ s5[0]?.value | number:'1.0-0' }}
            </span>
          }
          @if (s5.length < 1) {
            <span>-</span>
          }
        </div>
      }

    </div>

  </div>
