<div class="content" style="width: 100%; "  [ngStyle]="{'height': height + 'px' }">
<div class="loader" *ngIf="appStore.givunGroupFilterData?.length===0"></div>
<table dir="rtl"  *ngIf="appStore.givunGroupFilterData?.length>0"  style="width: 100%;"  [ngStyle]="{'height': 100 + '%' }"  >
    <tr >
          <td width="12%" height="100%"  > 
                  <div class="contentfilters">
                         <app-filter4></app-filter4>
                  </div>
                </td>
          <td width="87%" height="100%" > 
                  <div class="contentdata">
                          <app-search ></app-search>                          
                          <app-page4></app-page4>
                  </div>   
        </td>
    </tr>
 </table>
</div>