<div  class="kotar">
  <div (click)="openPage()" style="cursor: pointer;" class="selectTitel">
  <img src="./assets/Library/Icons/Png/Arrow back.png"  /> חזרה</div>
  <div> יצוג שכר לפי<br> קבוצה בכל הענפים<br> ובכל השנים</div>
  <!-- <div  >סקטור</div>
  <select
    (change)="onSelectSektor($event)" [(ngModel)]="selectedSektor">
    <option *ngFor="let sektor of sektorFilter" [ngValue]="sektor">
      {{sektor.name}}
    </option>
  </select> -->
  <div  style="padding-top: 15%;"></div>
  <select
    (change)="onSelect($event,mddFilter,'mdd')"  [(ngModel)]="appStore.selectmdd">
    @for (mdd of mddFilter; track mdd) {
      <option [ngValue]="mdd">
        {{mdd.name}}
      </option>
    }
  </select>
  <div  class="kotar-filter">סינון לפי</div>
  <div class="selectTitel">גודל עסק</div>
  @if (appStore.godelFilterData) {
    <select
      (change)="onSelect($event,godelFilter,'godel')" [(ngModel)]="appStore.selectgodel">
      @for (godel of godelFilter; track godel) {
        <option [ngValue]="godel">
          {{godel.name}}
        </option>
      }
    </select>
  }
  <!-- <select
  (change)="onSelect($event)" [(ngModel)]="selectedMosad">
  <option *ngFor="let mosad of yearFilter" [ngValue]="mosad">
    {{mosad.name}}
  </option>
</select>    -->
<!-- <div class="selectTitel">שנים</div>
<select *ngIf="appStore.yearFilterData"
  (change)="onSelect($event,yearFilter,'year')"  [(ngModel)]="appStore.selectyear">
  <option *ngFor="let year of yearFilter" [ngValue]="year">
    {{year.name}}
  </option>
</select>  -->
<div class="selectTitel">קבוצת גיוון</div>
@if (appStore.givunGroupFilterData) {
  <select
    (change)="onSelect($event,givunGroupFilter,'givunGroup')" [(ngModel)]="appStore.selectgivunGroup">
    @for (givunGroup of givunGroupFilter; track givunGroup) {
      <option [ngValue]="givunGroup">
        {{givunGroup.name}}
      </option>
    }
  </select>
}
<div class="selectTitel">מין</div>
@if (appStore.ganderFilterData) {
  <select [disabled] = this.appStore.disableGander
    (change)="onSelect($event,ganderFilter,'gander')"[(ngModel)]="appStore.selectgander">
    @for (gander of ganderFilter; track gander) {
      <option [ngValue]="gander">
        {{gander.name}}
      </option>
    }
  </select>
}
<div class="selectTitel">גיל</div>
@if (appStore.gilFilterData) {
  <select [disabled] = this.appStore.disableGil
    (change)="onSelect($event,gilFilter,'gil')" [(ngModel)]="appStore.selectgil">
    @for (gil of gilFilter; track gil) {
      <option [ngValue]="gil">
        {{gil.name}}
      </option>
    }
  </select>
}
<div class="selectTitel">השכלה</div>
@if (appStore.academicFilterData) {
  <select
    (change)="onSelect($event,academicFilter,'academic')" [(ngModel)]="appStore.selectacademic">
    @for (academic of academicFilter; track academic) {
      <option [ngValue]="academic">
        {{academic.name}}
      </option>
    }
  </select>
}

<div (click)="loadFiltersData()">

  <div class="remark"> <img class="image" src="./assets/Library/Icons/svg/reset.svg"  />
    <span style="margin-right: 5px;">נקה</span></div>
  </div>

</div>