.search{
    // direction: rtl;
   color: #0c3058;
}

.cubMdd{
    width: 95%;
    height: 80%;
    padding: 10% 10% 10% 0%;
    margin: 5%;
    background-color: #ffffff;
    display: inline-block; 
    border-radius: 5px;   
    font-size: 0.85em;
    font-weight: 400;  
  }
  .cubMdd .num{
    font-size: 1.5em;
    font-weight: 400;    
  }
  .koter{
    font-size: 0.85em;
    font-weight: 500;    
    display: inline-block;   
    padding: 10%;   
  }
