<div  class="kotar">
  <div (click)="openPage()" style="cursor: pointer;" class="selectTitel">
  <img src="./assets/Library/Icons/Png/Arrow back.png"  /> חזרה</div>
  <div>  השוואת נתוני <br> הגיוון ב 4 ענפים</div>
  <div  class="kotar-filter">סינון לפי</div>
  <div class="selectTitel">גודל עסק</div>
  <select
    (change)="onSelect($event,godelFilter,'godel')" [(ngModel)]="appStore.selectgodel">
    @for (godel of godelFilter; track godel) {
      <option [ngValue]="godel">
        {{godel.name}}
      </option>
    }
  </select>
  <!-- <select
  (change)="onSelect($event)" [(ngModel)]="selectedMosad">
  <option *ngFor="let mosad of yearFilter" [ngValue]="mosad">
    {{mosad.name}}
  </option>
</select>    -->
<div class="selectTitel">שנים</div>
@if (appStore.yearFilterData) {
  <select
    (change)="onSelect($event,yearFilter,'year')"  [(ngModel)]="appStore.selectyear">
    @for (year of yearFilter; track year) {
      <option [ngValue]="year">
        {{year.name}}
      </option>
    }
  </select>
}
<div class="selectTitel">מין</div>
<select
  (change)="onSelect($event,ganderFilter,'gander')"[(ngModel)]="appStore.selectgander">
  @for (gander of ganderFilter; track gander) {
    <option [ngValue]="gander">
      {{gander.name}}
    </option>
  }
</select>
<div class="selectTitel">גיל</div>
<select
  (change)="onSelect($event,gilFilter,'gil')" [(ngModel)]="appStore.selectgil">
  @for (gil of gilFilter; track gil) {
    <option [ngValue]="gil">
      {{gil.name}}
    </option>
  }
</select>
<div class="selectTitel">השכלה</div>
<select
  (change)="onSelect($event,academicFilter,'academic')" [(ngModel)]="appStore.selectacademic">
  @for (academic of academicFilter; track academic) {
    <option [ngValue]="academic">
      {{academic.name}}
    </option>
  }
</select>

<div (click)="loadFiltersData()">

  <div class="remark"> <img class="image" src="./assets/Library/Icons/svg/reset.svg"  />
    <span style="margin-right: 5px;">נקה</span></div>
  </div>
  <!-- <div (click)="openAgdarotMadd()" >

  <div class="perotMDD" ><img class="image" src="./assets/Library/Icons/svg/info.svg"  />
    <span style="margin-right: 5px;">הגדרות המדד</span> </div>
  </div>    -->
</div>