.header-cont
{
    background-color: #f2f7ff;
    width: 100%;
    top: 0;
    color:#015F8B ;
    padding: 3%;
}
.span_title
{
  font-size: 0.8em;
  font-weight: 500;
  
}
  
.homeIn {
  background-color: #ffff;
  margin-top: 2%;
  border-radius: 5px;
  padding-right: 40px;
  padding-left: 22px;
}

.grafBar{
  background-color: yellow;
  height: 100%;
  float: left;

}
.barAllAcl{
  text-align: center;
 // display: inline-block;
}
.row-item
{
    float:right;
    width: 25%;
    min-width: 12%;
    max-width: 25% !important;
    padding-right: 0px;
}
.grafBarDiv{
  background-color:white;
  height: 100%;
  width: 25px;
  display: inline-block;
}
.grafBarDiv div{
  
  
}
.grafBarTxtTop{
  vertical-align: top;
  height: 90%;
  text-align: right;
  padding-right: 5px;
}
.grafBarTxt{
  display: inline-block;
  font-size: 0.81em;
  height: 100%;
  vertical-align: top;
}
.image{
 
  
}

.perotMDD{
  float: left;
  font-size: 0.85em;font-weight: 400; display: inline-block;
  color: #015F8B;
  font-style: italic;
  cursor: pointer; 
}

.title
{
    float: right;
    direction: rtl;
    font-size: 1.5em;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;  
  }
  .sumForAcdemic .title{  font-size: 1em; }
  .sumForAcdemic .span_title{  font-weight: 400; }
  .logo{
        float: right;
  
        object-fit: contain;
      
  }
  .ui-inputswitch {
    box-shadow: 10px 5px 10px 0 #bdc6e3;
    width:5em
  }
  .operate-me
  {
    width: 159px;
  height: 34px;
  //font-family: SegoeUI;
  font-size: 1em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  }
  .button-pages
  {
    padding-left: 30px;
    padding-top: 10px;
  }
  .header-image{
    height:50px;
    margin-top: 7px;
    margin-left: 10px;
  }
  .sumForAcdemic{
    width:100%;
    height: 23%;
    background-color: #0095DA;
    color: #ffffff !important;
   
  }
.remark div{
  display: inline-block;
  margin-right: 35px;
  vertical-align: top;
  font-weight: 300;
  font-size: 14px;
}
.remarkKotar{
  font-weight: 500;
  margin-right: 0px;
}
.opisoft div{
  margin-right: 2px!important; 
  margin-top: 5px!important; 
}


.opisoft {
  float: left;
 
}