.header-cont {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;

  padding-right: 10px;

  font-family: 'Heebo';
  background-color: #015f8b;
}

.span_title {
  font-size: 0.65em;
  font-weight: 400;
}

.title {
  float: right;
  direction: rtl;

  min-width: 424px;

  font-size: 1.4em;
  font-weight: 500;

  text-align: right;
  letter-spacing: normal;
  color: #ffffff;

  background-position: right center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.logo {
  float: right;
  object-fit: contain;
}

.ui-inputswitch {
  width: 5em;
  box-shadow: 10px 5px 10px 0 #bdc6e3;
}

.operate-me {
  width: 159px;
  height: 34px;

  font-size: 1em;
  font-weight: 600;
  line-height: 1.35;

  text-align: right;
  color: #ffffff;
}

.button-pages {
  padding-left: 30px;
  padding-top: 10px;
}

.header-image {
  height: 9%;
  margin: 2px 0 0 10px;
}
.header-table {
  width: 100%;
}

.title-cell {
  width: 51%;
}

.logo-container {
  display: flex;
  align-items: center;
}
