
<div class="header-cont">
    <table style="width:100%">
      <tr>
        <td>
         
          <div>
            <!-- <img class="header-image" src="./assets/Library/logos/onversit.png" /> -->
            <img class="header-image" src="./assets/Library/logos/mas.png"   />
            <img class="header-image" src="./assets/Library/logos/nezivot.png"  />
            <img class="header-image" src="./assets/Library/logos/kalkala.png"  />
          </div>
        </td>
        <td style="width:51%">         
            <div (click)="homePage()" class="title" >מדד הגיוון | <span class="span_title">ייצוג ושכר של קבוצות אוכלוסייה בענפי כלכלה מרכזיים בשוק העבודה הפרטי והציבורי</span> </div>
          </td>
      </tr>
       </table>
    
    </div>
  
  
  