<div class="header-cont">

  <table class="header-table">
    <tr>

      <td>
        <div class="logo-container">
          <!--
          <img class="header-image" src="./assets/Library/logos/onversit.png" />
          -->
          <img
            class="header-image"
            src="./assets/Library/logos/mas.png"
            alt="Mas Logo"
          />
          <img
            class="header-image"
            src="./assets/Library/logos/nezivot.png"
            alt="Nezivot Logo"
          />
          <img
            class="header-image"
            src="./assets/Library/logos/kalkala.png"
            alt="Kalkala Logo"
          />
        </div>
      </td>

      <td class="title-cell">
        <div class="title" (click)="homePage()">
          מדד הגיוון |
          <span class="span_title">
            ייצוג ושכר של קבוצות אוכלוסייה בענפי כלכלה מרכזיים
            בשוק העבודה הפרטי והציבורי
          </span>
        </div>
      </td>

    </tr>
  </table>

</div>
