.search td{
   background-color: #ffff;
   font-weight: 500;
   font-style: italic;
   cursor: pointer;  
   color: #015F8B;
}

.content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tags{
    font-size: 0.8em;
}

.cubMdd{
    height: 100%;
    padding: 5%;
    margin-right: 1px;  
    display: inline-block; 
    font-size: 0.83em;
   
  }
  .num{
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 5%;
    font-size: 1.4em;
   
  }
  .koter{
    font-size: 0.83em;
    display: inline-block;   
    color: #ffff;
  }
 .disable{
  background-color: #eaeaea !important;
  color: gainsboro !important;
  cursor: default !important;
 }